.header{
    background: #3b5998;
    width: 100%;
    height: 85px;
}
body{
    margin: 0;
    font-family: Helvetica Neue,Helvetica, Arial, sans-serif;
}
.logo{
    width: 50%;
    padding-top: 32px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.logo-text{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica, Arial, sans-serif;
    margin-left: 170px;
}
.login-label{
    color: #fff;
}
.login-controls{
    margin-left: 115px;
}
.login{
    padding-top: 10px;
}
.forgotten{
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    color: #9cb4d8;
}
.sub-btn{
    background: #4267b2;
    color: #fff;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;
}
.sub-btn:hover{
    background: darkblue;
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 134px;
    padding-top: 52px;
}
.right-section{
    width: 39%;
    float: left;
}
.main-body{
    background: linear-gradient(white, #D3D8E8);
    width: 100%;
    height: 500px;
}
.image{
    width: 581px;
}
.para{
    font-weight: bold;
    font-size: 21px;
}
.inp1{
    height: 24px;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
    border-color: #fff;
}